<!DOCTYPE html>
<html lang="en" ng-app="turtleFacts">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Turtle Facts and Quiz</title>
    <!-- Bootstrap css and my own css -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
        crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
</head>

<body ng-controller="mainCtrl">

    <div class="container">
        <div class="page-header">
            <h1>Turtle Facts Quiz</h1>
            <h3>
                Learn about all the turtles below before you decide to take on the
                <strong>TURTLE QUIZ</strong>
            </h3>
        </div>

        <div ng-controller="listCtrl" ng-if="!quizActive">
            <form class="form-inline well well-sm clearfix">
                <span class="glyphicon glyphicon-serch"></span>
                <input type="text" placeholder="Search..." class="form-control" ng-model="search">
                <button class="btn btn-warning pull-right" ng-click="activateQuiz()">
                    <strong>Start Quiz</strong>
                </button>
            </form>
            <div class="row">
                <div class="col-sm-6" ng-repeat="turtle in data | filter:search">
                    <div class="well well-sm">
                        <div class="row">
                            <div class="col-md-6">
                                <img ng-src="{{turtle.image_url}}" class="img-rounded img-responsive well-image" alt="">
                            </div>
                            <div class="col-md-6">
                                <h4>{{turtle.type}}</h4>
                                <p>
                                    <strong>Locations:</strong>{{turtle.locations}}</p>
                                <p>
                                    <strong>Size:</strong>{{turtle.size}}</p>
                                <p>
                                    <strong>Average Lifespan:</strong>{{turtle.lifespan}}</p>
                                <p>
                                    <strong>Diet:</strong>{{turtle.diet}}</p>
                                <button class="btn btn-primary pull-right" data-toggle="modal" data-target="#turtle-info" ng-click="changeActiveTurtle(turtle)">Learn More</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal" id="turtle-info">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h2>{{activeTurtle.type}}</h2>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-xs-8 col-xs-offset-2"></div>
                                <img ng-src="{{activeTurtle.image_url}}" class="img-rounded img-responsive">

                            </div>
                        </div>
                        <div class="row top-buffer">
                            <div class="col-md-6">
                                <p>
                                    <strong>Location:</strong>{{activeTurtle.locations}}</p>
                                <p>
                                    <strong>Size:</strong>{{activeTurtle.size}}</p>
                                <p>
                                    <strong>Average Lifespan:</strong>{{activeTurtle.lifespan}}</p>
                                <p>
                                    <strong>Diet:</strong>{{activeTurtle.diet}}</p>
                            </div>
                            <div class="col-xs-12 top-buffer">
                                <p>{{activeTurtle.description}}</p>
                                <button class="btn btn-danger pull-right" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- List Controller -->

        </div>
        <div ng-controller="quizCtrl" ng-if="quizActive ">
            <div class="row" ng-if="questionShow == true">
                <div class="col-xs-8">
                    <h2>Progres:</h2>
                    <div class="btn-toolbar">
                        <button class="btn" ng-repeat="question in quizQuestions" ng-class="{'btn-info': question.selected !== null, 'btn-danger': question.selected === null }"
                            ng-click="showQuestion(question, $index)">

                            <span class="glyphicon" ng-class="{'glyphicon-pencil': question.selected !== null, 'glyphicon-question-sign': question.selected === null}"></span>
                        </button>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="row">
                        <h4>Legend:</h4>
                        <div class="col-sm-4">
                            <button class="btn btn-info">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </button>
                            <p>Answered</p>
                        </div>
                        <div class="col-sm-4">
                            <button class="btn btn-danger">
                                <span class="glyphicon glyphicon-question-sign"></span>
                            </button>
                            <p>Unanswered</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" ng-if="correctAnswersShow == true">
                <div class="col-xs-8">
                    <h2>Results</h2>
                    <div class="btn-toolbar">
                    <button class="btn" ng-click="showQuestion(question, $index)" ng-repeat="question in quizQuestions" ng-class="{'btn-success': question.selected == question.correct   , 'btn-danger': question.selected !==  question.correct  }">
                        <span class="glyphicon" ng-class="{'glyphicon-remove': question.selected !==  question.correct ,  ' glyphicon-ok': question.selected == question.correct }"></span>
                    </button>
                </div>
                </div>
                <div class="col-xs-4">
                    <div class="row">
                        <h4>Legend:</h4>
                        <div class="col-sm-4">
                            <button class="btn btn-success">
                                <span class="glyphicon glyphicon-ok"></span>
                            </button>
                            <p>Correct</p>
                        </div>
                        <div class="col-sm-4">
                            <button class="btn btn-danger">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                            <p>Wrong</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12">
                    <h2>You have Scorore:{{numberOfCorrectAnswers}} of {{quizQuestions.length}}</h2>
                    <h2>{{(numberOfCorrectAnswers / quizQuestions.length)*100}}%</h2>
                </div>
                <div class="col-xs-6 " ng-repeat="answer in activeQuestion.possibilities">
                    <h4 class="answer" ng-if="activeQuestion.type == 'text' " ng-class="{'correct': activeQuestion.correct == answer.answer , 'myAnsswer': activeQuestion.selected !==  activeQuestion.correct && activeQuestion.selected == answer.answer}">{{answer.answer}}</h4>
                    <img ng-src="{{answer.answer}}" ng-if="activeQuestion.type == 'image'" class="quizImages" ng-class="{'correct': activeQuestion.correct == answer.answer, 'myAnsswer': activeQuestion.selected !==  activeQuestion.correct && activeQuestion.selected == answer.answer } ">
                </div>
                <div class="col-xs-12">
                    <button class="btn btn-primary " ng-click="previewNextQuestion()">Continue</button>
                </div>
            </div>
            <div class="row" ng-if="correctAnswersShow == false && activeQuestion.text ">

                <div class="col-xs-12">
                    <h2>Question:</h2>
                </div>
                <div class="well well-sm">
                    <div class="row" ng-if="submite ==false">
                        <div class="col-xs-12">
                            <h2>{{questionIndex+1}}. {{activeQuestion.text}}</h2>
                        </div>
                        <div class="col-xs-6 " ng-repeat="answer in activeQuestion.possibilities" ng-click="selectedQuestion(answer)">
                            <h4 class="answer" ng-if="activeQuestion.type == 'text' " ng-class="{'active': selectedAnswer == answer }">{{answer.answer}}</h4>
                            <img ng-src="{{answer.answer}}" ng-if="activeQuestion.type == 'image'" class="quizImages" ng-class="{'active': selectedAnswer ==answer}">
                        </div>
                        <div class="col-xs-12">
                            <button class="btn btn-warning " ng-click="nextQuestion()">Continue</button>
                        </div>
                    </div>
                    <div class="row" ng-if="submite == true">
                        <div class="col-xs-12">
                            <h2>Are You Sure You Want Submite Your Answer</h2>
                            <button class="btn btn-success" ng-click="correctAnswers()">Yes</button>
                            <button class="btn btn-danger" ng-click="setSubmiteValue(false)">No</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>




    </div>

    <!-- third party js -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.2/angular.min.js"></script>
    <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
        crossorigin="anonymous"></script>

    <!-- Our application scripts -->
    <script src="js/app.js"></script>
    <script src="js/controllers/mainCtrl.js"></script>
    <script src="js/controllers/list.js"></script>
    <script src="js/controllers/quiz.js"></script>
    <script src="js/factories/quizMetrics.js"></script>
    <script src="js/factories/dataservice.js"></script>
</body>

</html>