.well-image {
    width: 100%;
    height: 162px;
}

.top-buffer {
    margin-top: 30px;
}

.answer{
    padding: 15px 20px;
    border-radius: 10px;
    border: 1px solid #bbb;
}
.answer:hover{
    cursor: pointer;
}

.answer.active {
    background-color: aqua;
    
}

.quizImages {
    width: 250px;
    height: auto;
    padding: 10px;
}

.quizImages.active {
   
    background-color: green;
}

.answer.correct {
    color: white;
    background-color: green;
}

.quizImages.correct {
   
    background-color: green;
}

.answer.myAnsswer{
   background-color: red;
   color: white;
}

.quizImages.myAnsswer {
    
    background-color: red;
}