button {
    margin-top: 2px;
}

li {
    text-decoration-line: none;
    text-decoration-style: none;
}

.workDone {
    text-decoration-line: line-through;
    opacity: 0.3;
     
}

.center {
text-align: center;
padding: 10px;
}